
.simple-audio-player {
  width: 360px;
  height: 42px;
  color: white;
  background-color: #293133;
  position: absolute;
  margin-top: 42px;
}

  /* https://stackoverflow.com/a/38163892/5156280 */
  /* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
  
/* @media screen and (-webkit-min-device-pixel-ratio:0) { */
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    /* background-color: #9a905d; */
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 0.2px solid #010101;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    /* box-shadow: -80px 0 0 80px #43e5f7; */
  }
/* } */

/* TODO associer à la class sap */
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: white;
  height: 5px;
  border-radius: 8px;
}
input[type="range"]::-moz-range-track {
  background-color: black;
  height: 5px;
  border-radius: 8px;
}

/* TODO IE*/
/* input[type="range"]::-ms-fill-lower {
  background-color: white; 
}
input[type="range"]::-ms-fill-upper {
  background-color: black;
} */

/* TODO Special styling for WebKit/Blink */
/* input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
} */

/* Firefox */
input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
}

input[type=range]::-moz-range-thumb:hover {
  background: deepskyblue;
}

/* TODO IE */
/* input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
} */

.simple-audio-player .controls {
  margin-top: 10px;
  display: inline-block;
}

.simple-audio-player .controls #play {
  vertical-align: middle;
  width: 20px;
  border: 0px;
  margin-left: 16px;
  color: white;
  background-color: transparent;
  font-size: 16px;
}

.simple-audio-player .controls #play:hover {
  color: deepskyblue;
}

.simple-audio-player .controls #track {
  width: 80px;
  margin-left: 20px;
  vertical-align: middle;
}

.simple-audio-player .controls #time_now {
  vertical-align: middle;
  margin-left: 20px;
  font-size: 13px;
  cursor: default;
}

.simple-audio-player .controls #time_total {
  vertical-align: middle;
  font-size: 13px;
  cursor: default;
  color: lightgrey;
}

.simple-audio-player .controls #mute {
  width: 20px;
  background-color: transparent;
  color: white;
  border: 0px;
  margin-left: 16px;
  vertical-align: middle;
  font-size: 18px;
}

.simple-audio-player .controls #mute:hover {
  color: deepskyblue;
}

.simple-audio-player .controls #volume {
  width: 50px;
  margin-left: 18px;
  vertical-align: middle;
}

#sap-screen {
  width: 345px;
  height: 41px;
  margin-top: -42px; /* TODO */
  color: black;
  border-bottom: 1px solid white;
}

#sap-file {
  padding-top: 8px;
}

  